.body {
    display: inline;
}



.is-layout-flow {
    display: inline;
   
 
}



.is-layout-flow>.wp-container-7>.wp-block-column>.wp-block-columns {
    display: inline;
    color: aliceblue;
    padding: 0;
    // border: 2px solid #FFCB05;
}

.wp-block-group__inner-container {
    display: inline;
  
   
}

.block-editor-block-list__block>.wp-block>.is-layout-flow>.block-core-columns>.wp-block-column>.wp-block-columns>.body>.block-editor-block-list__layout {
    display: inline;
   
}



p {
    display: inline;
   
   
}

.entry-content {
   display: inline;
}

.wp-image-314 {
    margin-top: -100px;
}

.wp-image-315 {
    margin-top: -100px;
}

.wp-image-316 {
    margin-top: -100px;
}




.cards {
    border: 2px solid #FFCB05;
    height: 261px;
    width: 394px;
    padding: 30px;
    margin-top: 60px;
    margin-left: -13px;
}

.para {
   margin-left: 350px; 
}

.header1 {
    margin-left: -200px;
}