.body {
    display: inline;
}

.is-layout-flow {
    display: inline;
   
 
}

.is-layout-constrained {
    height: 261px;
    width: 394px;
    border: 2px solid #FFCB05;
    padding: 30px;
}

.is-layout-flex {
  
}


.is-layout-flex>.wp-container-7>.wp-block-columns {
    display: inline;
    color: aliceblue;
  
   
}

.wp-block-group__inner-container {
    display: inline;
  
   
}

.block-editor-block-list__block>.wp-block>.is-layout-flow>.block-core-columns>.wp-block-column>.wp-block-columns>.body>.block-editor-block-list__layout {
    display: inline;
   
}

p {
    display: inline;
   
   
}

.entry-content {
   display: inline;
}

.wp-image-314 {
    margin-top: -100px;
}

.wp-image-315 {
    margin-top: -100px;
}

.wp-image-316 {
    margin-top: -100px;
}
